<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/docs.min.css">
    <link rel="stylesheet" type="text/css" href="/css/semantic.min.css">

  </head>
  <body class="bd-docs" data-spy="scroll">

    <div class="bd-pageheader">
      <div class="container">
        <a href="/"><h1>Tangan</h1></a>
        <p class="lead">
          get your awesome sculptures from local sculptor today.
        </p>
      </div>
    </div>

    <div class="container space-up">
      <div class="col-sm-6">
        <button id="btn-sculptor" type="button" class="btn btn-secondary btn-block">Sculptor</button>
      </div>
      <div class="col-sm-6">
        <button id="btn-product" type="button" class="btn btn-secondary btn-block">Product</button>
      </div>
    </div>

    <br>

    <div id="sculptor"></div>
    <div id="product"></div>
    <div id="detail-sculptor"></div>
    <div id="detail-product"></div>






    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js" integrity="sha384-XTs3FgkjiBgo8qjEjBk0tGmf3wPrWtA6coPfQDfFEY8AnYJwjalXCiosYRBIBZX8" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>
    <script src="/js/semantic.min.js" crossorigin="anonymous"></script>
    <script src="/js/main.js" crossorigin="anonymous"></script>
  </body>
</html>
